/* Fonts */

@import url(../fonts/fonts.css);

/* Base */

@import url(../css/base/reset.css);
@import url(../css/base/normalize.css);

/* Utils */

@import url(../css/utils/variables.css);
@import url(../css/utils/common.css);

.section {
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  max-width: 360px;
}

body {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

/* hero */

.header {
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translate(-50%);
}

.header .container {
}

.header .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 320px;
}

.header .category {
  color: #fcbd36;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  padding: 4px 5px;
  border-radius: 4px;
  border: 0.5px solid #fff;
}

.header .date {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

/* hero */

.hero {
  padding-top: 60px;
  padding-bottom: 24px;

  background-image: url(../img/hero/bg-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  background-image: url(../img/hero/bg-2x.jpg);
}

.hero .title {
  color: #ffc750;
  font-family: 'Helvetica Neue';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
  text-transform: uppercase;

  margin-bottom: 2px;
}

.hero .subtitle {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 20.7px */
  text-transform: uppercase;

  max-width: 267px;

  margin-bottom: 8px;
}

.hero .desc {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 18.4px */

  max-width: 307px;

  margin-bottom: 290px;
}

.hero .list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  margin-bottom: 24px;
}

.hero .list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 13px */
  letter-spacing: -0.26px;

  border-radius: 5px;
  background: #fff;

  padding: 0 20px;

  height: 55px;
  max-width: 156px;
}

.btn-link-container {
  display: block;
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffb30f 0%, #ffd780 50%, #ffb30f 100%);

  animation: pulseScale 2000ms infinite;
}

.btn-link {
  color: #000;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.btn-star-container {
  position: absolute;
  width: 76px;
  height: 76px;

  right: -14px;
  top: -30px;
}

.btn-star-image {
  animation: spin 8s linear infinite;
}

.btn-sale-text {
  position: absolute;
  top: 51%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15.077px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.302px;
}

.btn-sale-text span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.75px;
}

/* bonus */

.bonus {
  padding-top: 24px;
  padding-bottom: 80px;
}

.bonus .container {
}

.bonus .price {
  margin-bottom: 0;
}

.bonus .title {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  letter-spacing: -0.4px;

  margin-bottom: 24px;
}

.bonus .title span {
  color: #c84a2a;
  font-weight: 700;
}

.bonus .list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.bonus .list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.bonus .item-image {
}

.bonus .text {
  color: #000;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
  letter-spacing: -0.18px;

  max-width: 195px;
}

.bonus .text span {
  color: #c84a2a;
  font-weight: 500;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.countdown-number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-time {
  display: block;
  color: #c84a2a;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 32px */
  text-transform: lowercase;
  width: 50px;
}

.countdown-doubledot {
  color: #c84a2a;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 32px */
  text-transform: lowercase;
}

.countdown-label {
  color: #c84a2a;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 105%; /* 12.6px */
  letter-spacing: -0.12px;

  margin-top: -4px;
}

/* for-whom */

.for-whom {
  margin-top: -40px;

  padding: 40px 0;
  border-radius: 30px 30px 0px 0px;
  background: #c84a2a;
}

.for-whom .container {
}

.for-whom .title {
  color: #ffd479;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 37.8px */
  letter-spacing: -0.72px;
  text-transform: uppercase;

  max-width: 220px;
  margin: 0 auto 20px auto;
}

.for-whom .title span {
  color: #fff;
}

.for-whom .list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 28px;
}

.for-whom .list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 20px 16px;
  border-radius: 15px;
  background: #fff;
}

.for-whom .item-number {
  color: #f7e4df;
  font-family: 'Helvetica Neue';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  text-transform: uppercase;
}

.for-whom .text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.18px;

  max-width: 210px;
}

.for-whom .text span {
  color: #c84a2a;
  font-weight: 500;
}

.price {
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 29.4px */
  letter-spacing: -0.56px;
  text-transform: lowercase;

  margin-bottom: 20px;
}

.price span {
  text-decoration: line-through;
  opacity: 0.4;
}

.between-image {
  object-fit: cover;
  height: 254px;
}

/* bg-wrapper */

.bg-wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
  background: #c84a2a;

  background-image: url(../img/bg-wrapper/bg-01-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* include */

.include {
}

.include .container {
}

.include .title {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 50px */
  letter-spacing: -1px;
  text-transform: uppercase;

  margin-bottom: 4px;
}

.include .desc {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 26.4px */
  letter-spacing: -0.48px;

  margin-bottom: 32px;
}

.include .text {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.32px;

  padding: 16px 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

/* program */

.program {
  padding: 80px 0 40px;
}

.program .container {
}

.program .title {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 50px */
  letter-spacing: -1px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

/* questions */

.program-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.program-item-svg {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;

  flex-shrink: 0;
  background-image: url('../img/question-arrow.svg');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.program-item.active .program-item-svg {
  transform: rotate(45deg);
}

.program-list .program-item .program-answer-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.program-wrapper {
  min-height: 0;
}

.program-list .program-item.open .program-answer-container {
  grid-template-rows: 1fr;
}

/*  */

.program-item {
  padding: 24px;
  border-radius: 10px;
  background: #fff;

  cursor: pointer;
}

.program-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.program-item-title {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 17.6px */
  letter-spacing: -0.16px;
}

.answer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-top: 20px;
}

.answer-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.answer-list .item-dot {
  display: block;

  color: #c84a2a;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 16.5px */
  letter-spacing: -0.45px;
}

.program-answer {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  letter-spacing: -0.45px;
}

/* bonus-2 */

.bonus.borders {
  margin-top: -60px;
  padding-top: 40px;
  border-radius: 30px 30px 0px 0px;
  background: #fff;
}

.bonus .price {
  color: #090909;
}

.bonus .btn-link-container {
  margin-bottom: 40px;
}

.garant {
  color: #000;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 105%; /* 14.7px */
  letter-spacing: -0.14px;

  max-width: 292px;

  margin: 40px auto 0 auto;
}

/* about-author */

.about-author {
  padding-bottom: 100px;
}

.about-author .author-wrapper {
  display: flex;
  align-items: end;
  justify-content: center;

  background-image: url(../img/about-author/bg-1x.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 440px;

  margin-bottom: 20px;
}

.about-author .title {
  color: #fff;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 52.8px */
  letter-spacing: -0.96px;
  text-transform: uppercase;

  margin-bottom: -10px;
}

.about-author .container {
}

.about-author .name {
  color: #000;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 28.6px */
  letter-spacing: -0.26px;
}

.about-author .desc {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.18px;

  margin-bottom: 40px;
}

.about-author .desc span {
  color: #c84a2a;
}

.about-author .list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 40px;
}

.about-author .list-item {
  color: #000;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.32px;

  padding: 16px;
  border-radius: 10px;
  background: rgba(255, 215, 128, 0.6);
}

.about-author .price {
  color: #090909;
}
/* bg-wrapper-02 */

.bg-wrapper-02 {
  padding: 44px 0 60px;
  border-radius: 30px 30px 0px 0px;
  background: rgba(255, 231, 178, 0.4);
  margin-top: -40px;

  background-image: url(../img/bg-wrapper/bg-02-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* how-study */

.how-study {
}

.how-study .container {
}

.how-study .title {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 34px */
  letter-spacing: -0.68px;
  text-transform: uppercase;

  margin-bottom: 28px;
}

.how-study .title span {
  color: #c84a2a;
}

.how-study .wrapper {
  position: relative;

  max-width: 252px;
  margin: 0 auto;
}

.arrow-1 {
  position: absolute;
  left: 55px;
  top: 164px;
}

.arrow-2 {
  position: absolute;
  right: 55px;
  top: 320px;

  transform: rotateY(180deg);
}

.how-study .list {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.how-study .list-item {
}

.how-study .item-number {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 21px */
  letter-spacing: -0.2px;

  width: 32px;
  height: 32px;
  background-color: #c84a2a;
  border-radius: 50%;
  margin: 0 auto 8px auto;
}

.how-study .item-name {
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
  letter-spacing: -0.36px;

  margin-bottom: 10px;
}

.how-study .item-text {
  color: #000;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
}

.how-study .item-text:nth-of-type(2) {
  margin-bottom: 10px;
}

.how-study .list-item:nth-child(3) .item-text:nth-of-type(3) {
  margin-bottom: 10px;
}

/* you get */

.you-get {
  padding-top: 100px;
  padding-bottom: 60px;
}

.you-get .container {
}

.you-get .title {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -0.72px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.you-get .title span {
  color: #c84a2a;
}

.you-get .list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  margin-bottom: 40px;
}

.you-get .list-item {
  padding: 20px 16px;
  border-radius: 15px;
  background: #fff;
}

.you-get .item-number {
  display: block;
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;

  margin-bottom: 12px;
}

.you-get .text {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.16px;
}

.you-get .text span {
  color: #c84a2a;
  font-weight: 500;
}

.you-get .price {
  color: #090909;
}

/* reviews */

.reviews {
  padding-top: 40px;
  padding-bottom: 50px;
}

.reviews .title-container {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}

.reviews .title {
  color: #c84a2a;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -0.72px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.reviews .title span {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff7b00 0%, #ffab23 50%, #ff7b00 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* swiper */

.swiper {
  cursor: pointer;
}

.mySwiper1 {
}

.mySwiper1 .swiper-wrapper {
  margin-bottom: 40px;
}

.mySwiper1 .swiper-slide {
  width: 100%;
  height: 310px;
  margin: 0 auto;
}

.review-image {
  margin: 0 auto;
}

.mySwiper1 .swiper-pagination {
  --swiper-pagination-color: #c84a2a;
  --swiper-pagination-bullet-inactive-color: #c84a2a69;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

/* questions */

.questions {
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions .title {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 36px */
  letter-spacing: -0.72px;
  text-transform: uppercase;

  margin-bottom: 36px;
}

.questions .title span {
  color: #c84a2a;
  font-family: 'Helvetica Neue';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

/* questions */

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 430px;
}

.questions-item-svg {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;

  flex-shrink: 0;
  background-image: url('../img/question-arrow.svg');
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-item.active .questions-item-svg {
  transform: rotate(45deg);
}

.questions-list .questions-item .questions-answer-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.questions-wrapper {
  min-height: 0;
}

.questions-list .questions-item.open .questions-answer-container {
  grid-template-rows: 1fr;
}

/*  */

.questions-item {
  padding: 32px 0;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.questions-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.questions-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions-item-title {
  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%; /* 16.8px */
  letter-spacing: -0.32px;
  max-width: 220px;
}

.questions-answer {
  padding-top: 20px;

  color: #090909;
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */
}

/* footer */

.footer {
  padding-bottom: 60px;
}

.footer .container {
  position: relative;
  z-index: 2;
}

.telega-link-box {
  display: block;
  max-width: 180px;
  margin: 0 auto 44px auto;
  color: #229ed9;
}

.telega-text {
  color: #229ed9;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 16.32px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.telega-img {
  display: block;
  margin: 0 auto 4px auto;
}

.author-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 450;
  line-height: 115%; /* 16.32px */
  letter-spacing: -0.426px;
  text-transform: uppercase;

  margin-bottom: 40px;
}

.footer-img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.fop-box {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 300;
  line-height: 115%; /* 16.32px */
  text-transform: uppercase;

  margin-bottom: 20px;
}

.fop-box .name {
  margin-bottom: 4px;
}

.deals-box {
  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 300;
  line-height: 115%; /* 16.32px */
  text-transform: uppercase;

  margin-bottom: 60px;
}

.deals-link {
  display: block;
}

.deals-box .public {
  margin-bottom: 4px;
}

.footer .mail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: #090909;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 16.32px */
  text-transform: uppercase;

  margin-bottom: 40px;
}

.dising-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: #090909;
  font-family: 'Futura PT';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 16.32px */
  letter-spacing: -0.426px;
  text-transform: uppercase;

  margin: 0 auto 60px auto;
}

.disigner-box {
  display: flex;
  justify-content: center;
}

.dising {
  display: inline-block;
  color: #090909;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14.192px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 16.32px */
  letter-spacing: -0.426px;
  text-transform: uppercase;
  margin: 0 auto;
}

.dising span {
  color: #c84a2a;

  font-weight: 500;
}
